{% extends '::base_admin.html.twig' %}

{% block body -%}
	<h1 class="page-header">Director list</h1>
	<a class="btn btn-primary" href="{{ path('admin_director_new') }}">
		New Director
	</a>
	<span class="badge">{{ entities.getTotalItemCount }}</span> rows
	<table class="records_list table">
		<thead>
			<tr>
				<th>#</th>
				<th>Name</th>
				<th>Birthdate</th>
				<th>Countryid</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
		{% for entity in entities %}
			<tr>
				<td><a href="{{ path('admin_director_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
				<td>{{ entity.name }}</td>
				<td>{% if entity.birthdate %}{{ entity.birthdate|date('d/m/Y') }}{% endif %}</td>
				<td>{{ entity.countryId }}</td>
				<td>
				<a class="btn btn-default btn-xs btn-info" href="{{ path('admin_director_edit', { 'id': entity.id }) }}">
				edit</a>
				<a class="btn btn-default btn-xs btn-success" href="{{ path('admin_director_show', { 'id': entity.id }) }}">show</a>
				<a class="btn btn-default btn-xs btn-danger" href="{{ path('admin_director_delete', { 'id': entity.id }) }}">delete</a>
				</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
	<div class="navigation">
		{{ knp_pagination_render(entities) }}
	</div>
{% endblock %}
