{% extends '::base_admin.html.twig' %}

{% block body -%}
	<h1 class="page-header">Director</h1>
    <div class="action-options">
        <a class="btn btn-default btn-sm label-default" href="{{ path('admin_director') }}">Back</a>
        <a class="btn btn-default btn-sm btn-info" href="{{ path('admin_director_edit', { 'id': entity.id }) }}">Edit</a>
        <a class="btn btn-default btn-sm btn-danger" href="{{ path('admin_director_delete', { 'id': entity.id }) }}">Delete</a>
    </div>
    <table class="record_properties table table-striped">
		<tbody>
			<tr>
				<th>#</th>
				<td>{{ entity.id }}</td>
			</tr>
			<tr>
				<th>Name</th>
				<td>{{ entity.name }}</td>
			</tr>
			<tr>
				<th>Birthdate</th>
				<td>{{ entity.birthdate|date('d/m/Y') }}</td>
			</tr>
			<tr>
				<th>Country</th>
				<td>{{ entity.getCountryId }}</td>
			</tr>
		</tbody>
	</table>
{% endblock %}
