<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>{% block title %}Admin{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/admin.css') }}" />
		{% block stylesheets %}{% endblock %}
		<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
	</head>
	<body>
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">Project name</a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						<li><a>Logged as {{ app.user.username }}</a></li>
						<li><a href="#">Dashboard</a></li>
						<li><a href="#">Settings</a></li>
						<li><a href="#">Profile</a></li>
						<li><a href="{{ path('sato_movies_admin_homepage') }}">Dashboard</a></li>
						<li><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
					</ul>
				</div>
			</div>
		</nav>
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-3 col-md-1 sidebar">
					<ul class="nav nav-sidebar">
						<li class="active"><a href="{{ path('admin_movie') }}">Movies <span class="sr-only">(current)</span></a></li>
						<li><a href="{{ path('admin_actor') }}">Actors</a></li>
						<li><a href="{{ path('admin_director') }}">Directors</a></li>
						<li><a href="{{ path('admin_distributor') }}">Distributors</a></li>
						<li><a href="{{ path('admin_genre') }}">Genres</a></li>
					</ul>
					<ul class="nav nav-sidebar">
						<li><a href="{{ path('admin_contact') }}">Contacts</a></li>
						<li><a href="{{ path('admin_newsletter') }}">Newsletters</a></li>
					</ul>
					<ul class="nav nav-sidebar">
						<li><a href="">Reports</a></li>
						<li><a href="">Export</a></li>
					</ul>
				</div>
				<div class="col-sm-9 col-sm-offset-3 col-md-11 col-md-offset-2 main">
					{% block body %}{% endblock %}
				</div>
			</div>
		</div>
		<script src="{{ asset('js/jquery-1.11.2.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap.js') }}"></script>
        {% block javascripts %}{% endblock %}
	</body>
</html>