{% extends '::base_admin.html.twig' %}

{% block body -%}
	<h1>Contacts</h1>

	<table class="records_list table table-striped table-condensed">
		<thead>
			<tr>
				<th>#</th>
				<th>Name</th>
				<th>Email</th>
				<th>Message</th>
				<th>Createdat</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
		{% for entity in entities %}
			<tr>
				<td><a href="{{ path('admin_contact_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
				<td>{{ entity.name }}</td>
				<td>{{ entity.email }}</td>
				<td>{{ entity.message }}</td>
				<td>{% if entity.createdAt %}{{ entity.createdAt|date('d/m/Y H:i:s') }}{% endif %}</td>
				<td class="btn-td-actions">
                    <a href="{{ path('admin_contact_show', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-zoom-in"></span></a>
                </td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
	<div class="registers">
		{{ entities.getTotalItemCount }} registers found
	</div>
	<div class="navigation">
		{{ knp_pagination_render(entities) }}
	</div>
{% endblock %}