{% extends '::base_admin.html.twig' %}

{% block body -%}
    <h1 class="page-header">Contact</h1>
    <div class="action-options">
        <a class="btn btn-default btn-sm label-default" href="{{ path('admin_contact') }}">Back</a>
    </div>
    <table class="record_properties table table-striped">
        <tbody>
            <tr>
                <th>#</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ entity.email }}</td>
            </tr>
            <tr>
                <th>Message</th>
                <td>{{ entity.message }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{{ entity.createdAt|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
