{% extends '::base_admin.html.twig' %}

{% block body -%}
    <h1 class="page-header">Genre</h1>
    <div class="action-options">
        <a class="btn btn-default btn-sm label-default" href="{{ path('admin_genre') }}">Back</a>
        <a class="btn btn-default btn-sm btn-info" href="{{ path('admin_genre_edit', { 'id': entity.id }) }}">Edit</a>
        <a class="btn btn-default btn-sm btn-danger" href="{{ path('admin_genre_delete', { 'id': entity.id }) }}">Delete</a>
    </div>
    <table class="record_properties table table-striped">
        <tbody>
            <tr>
                <th>#</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
