{% extends '::base_admin.html.twig' %}

{% block body -%}
	<h1>Newsletters</h1>

    <form class="form-inline search_form" method="get" action="{{path('admin_newsletter')}}" name="searchform" id="searchform">
        <div class="form-group">
            <input type="text"  class="form-control" placeholder="Email" name="email" value="" />
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
	<table class="records_list table table-striped table-condensed">
		<thead>
			<tr>
				<th>#</th>
				<th>Email</th>
				<th>Createdat</th>
			</tr>
		</thead>
		<tbody>
		{% for entity in entities %}
			<tr>
				<td><a href="{{ path('admin_newsletter_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
				<td>{{ entity.email }}</td>
				<td>{% if entity.createdAt %}{{ entity.createdAt|date('d/m/Y H:i:s') }}{% endif %}</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
    <div class="registers">
        {{ entities.getTotalItemCount }} registers found
    </div>
    <div class="navigation">
        {{ knp_pagination_render(entities) }}
    </div>

	{% endblock %}
